/** TODO commonize with video selector modal!!!! **/
.challengeModal {
    background-color:rgba(0, 0, 0);
    opacity: 0;
    display: inline;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    text-align: center;
    padding: 16px;
    color: white;
}
.visibleFadeIn {
    opacity: 1;
    z-index: 1;
    animation: FadeIn 1s;
}
@keyframes FadeIn {
    0% { opacity: 0; z-index: 0;}
    50% { opacity: 0; z-index: 1;}
    99% {  opacity: .98; z-index: 1;}
    100% { opacity: 1; z-index: 1;}
}
.invisibleFadeOut {
    opacity: 0;
    z-index: 0;
    animation: FadeOut 3s;
}
@keyframes FadeOut {
    0% { opacity: 1; z-index: 1;}
    50% { opacity: 1; z-index: 1;}
    99% { opacity: .02; z-index: 1;}
    100% { opacity: 0; z-index: 0;}
}
.questionHolder {
    padding: 16px;
    height: calc(100% - 160px);
}
.questionHolder img {
    max-height: 100%;
    max-width: 100%;
}
.answersHolder {
    position: fixed;
    bottom: 0px;
    text-align: center;
    width: 95%;
    padding: 16px;
}
.answersHolder button {
    text-transform: uppercase;
    cursor: pointer;
    padding: 16px;
    margin: 8px;
    font-size: 1.25em;
}
.answersHolder button:hover {
    opacity: 0.85;
}