.videoSelector {
    background-color:rgba(0, 0, 0);
    opacity: 0;
    display: inline;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 5;
    cursor: pointer;
    text-align: center;
    padding: 60px;
}
.visibleFadeIn {
    opacity: 1;
    z-index: 5;
    animation: FadeIn 1s;
}
@keyframes FadeIn {
    0% { opacity: 0; z-index: 0;}
    50% { opacity: 0; z-index: 5;}
    99% {  opacity: .98; z-index: 5;}
    100% { opacity: 1; z-index: 5;}
}
.invisibleFadeOut {
    opacity: 0;
    z-index: 0;
    animation: FadeOut 1s;
}
@keyframes FadeOut {
    0% { opacity: 1; z-index: 5;}
    50% { opacity: 1; z-index: 5;}
    99% { opacity: .02; z-index: 5;}
    100% { opacity: 0; z-index: 0;}
}